@page
@model FoodDelivery.Pages.Restaurants.IndexModel
@{
    ViewData["Title"] = "Restaurants";
}


@if (TempData["Message"] != null)
{
    <div class="alert alert-success" id="success-alert">@TempData["Message"]</div>
}

<h1>Restaurants</h1>
<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control"
                   asp-for="SearchTerm" />
            <div class="input-group-append">
                <button class="btn btn-secondary">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </div>
</form>


@if (Model.Restaurants != null && Model.Restaurants.Count() > 0)
{

        @foreach (var restaurant in Model.Restaurants)
        {

            <partial name="_RestaurantDataSummary" model="restaurant" />

        }
 
}
else
{
    <div>No Data Found</div>
}


<a asp-page="./Edit" class="btn btn-primary">Add New</a>

<script type="text/javascript">
    $(document).ready(function () {
        $("#success-alert").fadeTo(2000, 500).slideUp(500, function () {
            $("#success-alert").slideUp(500);
        });
    });
</script>


@section footer {

    <div>@Model.Message</div>

}
